li{
  color:blue;
  text-align: center;
  animation:slide-in linear forwards;
  animation-timeline:scroll();
  animation-range:entry 0% cover 50%;
}

@keyframes slide-in{
  from{
    transform:translateX(-50%);opacity:0;
  }
  to{
    transform:translateX(0);opacity:1;
  }
}